---
//@ts-nocheck
export async function getStaticPaths(){
    const fashionUrl = "https://kea-alt-del.dk/t7/api/products";
    const data = await fetch(fashionUrl).then((response)=>response.json());

    return data.map((product)=>{
        return {
            params: { myProductId: product.id },
            props: { myProduct: product },
            };
    });
}

const { myProduct } = Astro.props;
---

<h1>{myProduct.productdisplayname}</h1>